hotelplus-blog-scraper-cheerio.json
{
  "name": "HotelPlus Blog Scraper (Cheerio)",
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate all page URLs to scrape\nconst maxPages = 10; // Set max pages to scrape (adjust based on site)\nconst pages = [];\n\nfor (let i = 1; i <= maxPages; i++) {\n  pages.push({\n    json: {\n      pageUrl: i === 1 ? 'https://www.hotelplus.asia/blog' : `https://www.hotelplus.asia/blog?page=${i}`,\n      pageNumber: i\n    }\n  });\n}\n\nreturn pages;"
      },
      "id": "generate-page-urls",
      "name": "Generate Page URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.pageUrl }}",
        "method": "GET",
        "options": {}
      },
      "id": "http-blog-list",
      "name": "Get Blog List Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Check if page has articles (not empty/404)\nconst html = $input.item.json.data || '';\n\n// Check if page has articles\nconst hasArticles = html.includes('/blog/') && \n                   (html.includes('entry-title') || html.includes('post-title') || html.includes('article'));\n\nif (!hasArticles) {\n  // Stop processing if no articles found\n  return [];\n}\n\n// Pass through to next node\nreturn $input.all();"
      },
      "id": "check-page-exists",
      "name": "Check Page Has Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "articleLinks",
              "cssSelector": "a[href*='/blog/']",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "html-extract-links",
      "name": "HTML - Extract Links",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process and filter article URLs - return each URL as separate item\nconst links = $input.item.json.articleLinks || [];\nconst seenUrls = new Set();\nconst results = [];\nlet counter = 1;\n\nlinks.forEach(link => {\n  if (link && link.includes('/blog/') && !link.includes('#') && !link.endsWith('/blog') && !link.endsWith('/blog/')) {\n    const fullUrl = link.startsWith('http') ? link : `https://www.hotelplus.asia${link}`;\n    \n    // Skip if we've seen this URL\n    if (!seenUrls.has(fullUrl)) {\n      seenUrls.add(fullUrl);\n      results.push({\n        json: {\n          url: fullUrl,\n          id: counter++,\n          pageNumber: $input.item.json.pageNumber || 1\n        }\n      });\n    }\n  }\n});\n\nreturn results;"
      },
      "id": "code-process-urls",
      "name": "Process URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "method": "GET",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-get-article",
      "name": "Get Article Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "h1, .entry-title, .post-title, title",
              "returnValue": "text"
            },
            {
              "key": "content",
              "cssSelector": "article, .post-content, .entry-content, main",
              "returnValue": "text"
            },
            {
              "key": "metaDescription",
              "cssSelector": "meta[name='description']",
              "returnValue": "attribute",
              "attribute": "content"
            },
            {
              "key": "metaKeywords",
              "cssSelector": "meta[name='keywords']",
              "returnValue": "attribute",
              "attribute": "content"
            },
            {
              "key": "publishDate",
              "cssSelector": "time[datetime], .published-date, .post-date",
              "returnValue": "attribute",
              "attribute": "datetime"
            }
          ]
        },
        "options": {}
      },
      "id": "html-extract-content",
      "name": "Extract Article Metadata",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Map scraped data to metadata CSV format\nconst item = $input.item.json;\nconst prevNode = $node[\"Process URLs\"].json;\nconst url = prevNode.url;\nconst id = prevNode.id;\n\n// Extract and clean data\nconst title = (item.title || 'Untitled').trim();\nconst content = (item.content || '').trim();\nconst description = (item.metaDescription || content.substring(0, 200)).trim();\nconst keywords = (item.metaKeywords || title.substring(0, 50)).trim();\nconst publishDate = item.publishDate || new Date().toISOString().split('T')[0];\n\n// Detect language\nconst thaiRegex = /[\\u0E00-\\u0E7F]/;\nconst language = thaiRegex.test(title + description) ? 'TH' : 'EN';\n\n// Detect location\nconst locationMap = {\n  'เชียงใหม่': 'เชียงใหม่',\n  'chiangmai': 'เชียงใหม่',\n  'chiang mai': 'เชียงใหม่',\n  'ภูเก็ต': 'ภูเก็ต',\n  'phuket': 'ภูเก็ต',\n  'กรุงเทพ': 'กรุงเทพ',\n  'bangkok': 'กรุงเทพ',\n  'พัทยา': 'พัทยา',\n  'pattaya': 'พัทยา',\n  'เกาะสมุย': 'เกาะสมุย',\n  'samui': 'เกาะสมุย'\n};\n\nlet location = '';\nconst searchText = (title + content + url).toLowerCase();\nfor (const [key, value] of Object.entries(locationMap)) {\n  if (searchText.includes(key.toLowerCase())) {\n    location = value;\n    break;\n  }\n}\n\n// Determine type and category\nlet type = 'keyword';\nlet category = 'โรงแรม';\n\nif (title.includes('รีวิว') || title.toLowerCase().includes('review')) {\n  type = 'review';\n  category = 'รีวิว';\n} else if (title.includes('FAQ') || title.includes('คำถาม')) {\n  type = 'faq';\n  category = 'ความรู้ทั่วไป';\n} else if (title.includes('คู่มือ') || title.toLowerCase().includes('guide')) {\n  type = 'guide';\n  category = 'กลยุทธ์';\n} else if (title.includes('SEO') || title.includes('GEO')) {\n  category = 'กลยุทธ์';\n}\n\n// Detect topic\nconst topic = location || (title.includes('SEO') ? 'กลยุทธ์' : 'ทั่วไป');\n\nreturn {\n  json: {\n    id: id,\n    type: type,\n    topic: topic,\n    keyword: keywords,\n    description: description,\n    reference_id: `blog${id}_${new Date().getFullYear()}`,\n    url: url,\n    category: category,\n    location: location,\n    date: publishDate,\n    language: language,\n    search_volume: '',\n    competition: '',\n    ranking: '',\n    notes: `Scraped from hotelplus.asia on ${new Date().toISOString().split('T')[0]}`\n  }\n};"
      },
      "id": "code-map-metadata",
      "name": "Map to Metadata Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "dataTableId": {
          "__rl": true,
          "value": "26N3jwPH0CDlpmv6",
          "mode": "list",
          "cachedResultName": "SEO_GEO_Knowledge",
          "cachedResultUrl": "/projects/6cOnSoILMYNKOgOM/datatables/26N3jwPH0CDlpmv6"
        },
        "columns": {
          "mappings": [
            {
              "column": "id",
              "value": "={{ $json.id }}"
            },
            {
              "column": "type",
              "value": "={{ $json.type }}"
            },
            {
              "column": "topic",
              "value": "={{ $json.topic }}"
            },
            {
              "column": "keyword",
              "value": "={{ $json.keyword }}"
            },
            {
              "column": "description",
              "value": "={{ $json.description }}"
            },
            {
              "column": "reference_id",
              "value": "={{ $json.reference_id }}"
            },
            {
              "column": "url",
              "value": "={{ $json.url }}"
            },
            {
              "column": "category",
              "value": "={{ $json.category }}"
            },
            {
              "column": "location",
              "value": "={{ $json.location }}"
            },
            {
              "column": "date",
              "value": "={{ $json.date }}"
            },
            {
              "column": "language",
              "value": "={{ $json.language }}"
            },
            {
              "column": "search_volume",
              "value": "={{ $json.search_volume }}"
            },
            {
              "column": "competition",
              "value": "={{ $json.competition }}"
            },
            {
              "column": "ranking",
              "value": "={{ $json.ranking }}"
            },
            {
              "column": "notes",
              "value": "={{ $json.notes }}"
            }
          ]
        },
        "options": {}
      },
      "id": "insert-each-article",
      "name": "Insert to DataTable",
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-all",
      "name": "Aggregate All Articles",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2050, 500]
    },
    {
      "parameters": {
        "operation": "formatData",
        "format": "csv",
        "options": {
          "fileName": "hotelplus_metadata.csv",
          "headerRow": true,
          "delimiter": ","
        }
      },
      "id": "convert-csv",
      "name": "Convert to CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [2050, 500]
    },
    {
      "parameters": {
        "filePath": "C:\\Users\\NMuan\\Downloads\\hotelplus\\hotelplus_metadata_{{ $now.format('yyyyMMdd_HHmmss') }}.csv",
        "options": {}
      },
      "id": "write-csv",
      "name": "Write CSV File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [2250, 500]
    }
  ],
  "connections": {
    "Start": {
      "main": [[{ "node": "Generate Page URLs", "type": "main", "index": 0 }]]
    },
    "Generate Page URLs": {
      "main": [[{ "node": "Get Blog List Page", "type": "main", "index": 0 }]]
    },
    "Get Blog List Page": {
      "main": [[{ "node": "Check Page Has Articles", "type": "main", "index": 0 }]]
    },
    "Check Page Has Articles": {
      "main": [[{ "node": "HTML - Extract Links", "type": "main", "index": 0 }]]
    },
    "HTML - Extract Links": {
      "main": [[{ "node": "Process URLs", "type": "main", "index": 0 }]]
    },
    "Process URLs": {
      "main": [[{ "node": "Get Article Content", "type": "main", "index": 0 }]]
    },
    "Get Article Content": {
      "main": [[{ "node": "Extract Article Metadata", "type": "main", "index": 0 }]]
    },
    "Extract Article Metadata": {
      "main": [[{ "node": "Map to Metadata Format", "type": "main", "index": 0 }]]
    },
    "Map to Metadata Format": {
      "main": [
        [{ "node": "Insert to DataTable", "type": "main", "index": 0 }],
        [{ "node": "Aggregate All Articles", "type": "main", "index": 0 }]
      ]
    },
    "Insert to DataTable": {
      "main": [[]]
    },
    "Aggregate All Articles": {
      "main": [[{ "node": "Convert to CSV", "type": "main", "index": 0 }]]
    },
    "Convert to CSV": {
      "main": [[{ "node": "Write CSV File", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {}
}
